<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width,initial-scale=1'>

	<title>Edge Sim</title>

	<link rel='icon' type='image/png' href='/favicon.png'>
	<link rel='stylesheet' href='/static/style.css'>

	<script>
		let project = null;
		let run = null;

		{% if project %}
		project = "{{ project }}";
		{% endif %}

		{% if run %}
		run = "{{ run }}";
		{% endif %}

		console.log(project, run);
	</script>
</head>

<body>
</body>
<script type="module" defer src='/static/{{ page }}.js'></script>
</html>
